<div>
  <h2>Jogo da velha</h2>

  <!-- tela inicial -->
  <div class="principal" *ngIf="showStart">
    <a href="#"
       class="botao"
       (click)="startGame()">
      Iniciar
    </a>
  </div><!-- fim tela inicial -->

  <!-- tabuleiro -->
  <div *ngIf="showBoard">
    <ul>
      <li class="kz-border-bottom kz-border-right"
          [class.kz-img-x]="displayX(0,0)"
          [class.kz-img-o]="displayO(0,0)"
          [class.kz-cor-vitoria]="displayVictory(0,0)"
          (click)="play(0,0)"></li>
      <li class="kz-border-bottom kz-border-right"
          [ngClass]="{
            'kz-img-x': displayX(0,1),
            'kz-img-o': displayO(0,1),
            'kz-cor-vitoria': displayVictory(0,1) }"
          (click)="play(0,1)"></li>
      <li class="kz-border-bottom"
          [ngClass]="{
            'kz-img-x': displayX(0,2),
            'kz-img-o': displayO(0,2),
            'kz-cor-vitoria': displayVictory(0,2) }"
          (click)="play(0,2)"></li>
      <li class="kz-border-bottom kz-border-right"
          [ngClass]="{
            'kz-img-x': displayX(1,0),
            'kz-img-o': displayO(1,0),
            'kz-cor-vitoria': displayVictory(1,0) }"
          (click)="play(1,0)"></li>
      <li class="kz-border-bottom kz-border-right" [ngClass]="{
            'kz-img-x': displayX(1,1),
            'kz-img-o': displayO(1,1),
            'kz-cor-vitoria': displayVictory(1,1) }"
          (click)="play(1,1)"></li>
      <li class="kz-border-bottom"
          [ngClass]="{
            'kz-img-x': displayX(1,2),
            'kz-img-o': displayO(1,2),
            'kz-cor-vitoria': displayVictory(1,2) }"
          (click)="play(1,2)"></li>
      <li class="kz-border-right"
          [ngClass]="{
            'kz-img-x': displayX(2,0),
            'kz-img-o': displayO(2,0),
            'kz-cor-vitoria': displayVictory(2,0) }"
          (click)="play(2,0)"></li>
      <li class="kz-border-right"
          [ngClass]="{
            'kz-img-x': displayX(2,1),
            'kz-img-o': displayO(2,1),
            'kz-cor-vitoria': displayVictory(2,1) }"
          (click)="play(2,1)"></li>
      <li [ngClass]="{
            'kz-img-x': displayX(2,2),
            'kz-img-o': displayO(2,2),
            'kz-cor-vitoria': displayVictory(2,2) }"
          (click)="play(2,2)"></li>
    </ul>
  </div><!-- fim tabuleiro -->

  <!-- tela final -->
  <div *ngIf="showFinal">
    <span>
    <p *ngIf="player==2">Você venceu!!!</p>
    <p *ngIf="player==1">Você perdeu...</p>
    <p *ngIf="player==0">O jogo terminou empatado...</p>
    <br/>
    <a href="#"
       class="botao"
       (click)="newGame()">
         Jogar novamente
      </a>
    </span>
  </div><!-- fim tela final -->

</div>

